.questionPreview{
  max-height: 90vh;
  overflow-y: scroll;
}
.vertical-line {
  border-left: 1px solid #000;
  /* height: 85vh; */
}

.question-wrapper {
  padding: 2rem;
}

.option-wrapper {
  align-items: center;
  border: 1px solid #bababa;
  border-radius: 10px;
  color: #444;
  cursor: pointer;
  display: flex;
  font-weight: lighter;
  margin: 10px 0;
  padding: 10px;
  flex-direction: row !important;
}

.option-alphabet {
  align-items: center;
  border: 1px solid #bababa;
  border-radius: 100%;
  color: #444;
  display: flex;
  font-weight: 700;
  height: 25px;
  justify-content: center;
  margin-right: 15px;
  width: 25px;
}


.question-wrapper, .explanation-wrapper{
  background-color: #fff7f7;
  border: 1px solid #bababa;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  
}