* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


p{
  margin-bottom: 0px !important;
}


.minimal-space {
  margin: 0; /* Set margin to 0 */
  padding: 0; /* Set padding to 0 */
}

ul li:hover{
  text-decoration: underline;
  transition : ease-in
}
